* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("/css/star-wars-backgrounds.jpg");
  background-size: cover;
}

header {
  margin-bottom: 5rem;
  padding: 2rem;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: rgb(73, 73, 73);
  color: white;
  font-size: 2rem;
}

.header:hover {
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}

.header__heading {
  padding: 0.5rem 1rem;
}

.article {
  display: flex;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
}

.basis {
  flex: 1 1 calc(1 / 2 * 100%);
}

.luke {
  background-image: url("/css/luke.jpg");
  background-size: cover;
}
.falcon {
  background-image: url("/css/falcon.jpg");
  background-size: cover;
}

.landspeeder {
  background-image: url("/css/landspeeder.jpeg");
  background-size: cover;
}

.hoth {
  background-image: url("/css/hoth.jpg");
  background-size: cover;
}

.active {
  height: 280px;
}

ul {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

@media (max-width: 780px) {
  header {
    font-size: 2rem;
  }

  .article {
    flex-direction: column;
  }
}
